.top-panel {
  background: $bgcolor;

  a {
    text-decoration: none;
  }

  p {
    margin-bottom: 0;
  }

  &__wrapper {
    height: 5rem;
  }

  &__div {
    margin-right: 2rem;
    align-self: center;

    &--right {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
