<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 column column--border-r">
                <div class="row">
                    <div class="col-xl-7 column column--top column--first column--border-r column--mrg-b">
                        <article class="post entry-post post-type-bestseller">
                            <div class="post__image">
                                <img src="assets/images/success-post.jpg" alt="success-post">
                            </div>
                            <div class="post__content">
                                <header>
                                    <span class="post__type">Iсторія успіху</span>
                                    <h2 class="post__header">Фінансист у полі: Артем Беленко заробляє на фермерах</h2>
                                </header>
                                <p>Чотири роки тому він був  успішним працівником фондового ринку,
                                    а сьогодні голова компанії Smart Farming, що займається точним землеробством,
                                    управлінням земельних банків, агро консалтингом та моніторингом стану посівів.
                                    Як це сталося? </p>
                                <a href="#" class="link link--more link--arrow">Читати ...<span class="arrow arrow--right"></span></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-xl-5 column column--top column--mrg-b">
                        <article class="post entry-post post-type-bestseller">
                            <span class="heading heading--top">Як це працює</span>
                            <div class="post__image">
                                <img src="assets/images/success-post.png" alt="interview-image">
                            </div>
                            <div class="post__content">
                                <header>
                                    <h2 class="post__header">У чому секрет книжок від K.Fund</h2>
                                </header>
                                <p>Перш ніж ви знову встанете перед книжковою полицею в роздумах,
                                    що почитати цього разу, видавництва теж роблять цей непростий вибір.
                                    Ми вирішили розібратися на прикладі K.Fund, якою повинна бути книжка,
                                    щоб її варто було видати.</p>
                                <a href="#" class="link link--more link--arrow">Читати ...<span class="arrow arrow--right"></span></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-12 column">
                        <article class="post entry-post post-type-quotes column--border-t">
                            <p class="heading heading--left">Цитата дня</p>
                            <div class="post__image">
                                <img src="assets/images/quotes-post.jpg" alt="quotes-image">
                            </div>
                        </article>
                    </div>
                    <div class="col-12 column">
                        <article class="post entry-post post-type-best column--border-t">
                            <p class="heading heading--left">Кращі матеріали</p>
                            <div class="post__lists">
                                <div class="row">
                                    <div class="col-12 column column--top">
                                        <article class="post entry-post post-type-books">
                                            <div class="post__image post__image--left">
                                                <img src="assets/images/success-post.png" alt="interview-image">
                                            </div>
                                            <div class="post__content">
                                                <header>
                                                    <span class="post__type">Конспект</span>
                                                    <h2 class="post__header">Крах республіки: чому може навчити історія злету і падіння Венеції</h2>
                                                </header>
                                                <p>Більшість організацій були б щасливі, якби змогли проіснувати стільки, скільки це вдалося Венеціанської республіці.
                                                    З 697 по 1797 рік н.е. технологічні успіхи, географічне положення і нетрадиційне </p>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-12 column">
                                        <article class="post entry-post post-type-books column--border-t">
                                            <div class="post__image post__image--left">
                                                <img src="assets/images/success-post.png" alt="interview-image">
                                            </div>
                                            <div class="post__content">
                                                <header>
                                                    <span class="post__type">Книготека</span>
                                                    <h2 class="post__header">ТОП-5 кращих книг для стартаперів</h2>
                                                </header>
                                                <p>Мрієте про власний бізнес, але не знаєте, з чого почати? Тоді знадобляться книги,
                                                    в яких підприємці розповідають про секрети власного бізнесу без стартового капіталу.</p>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-12 column">
                                        <article class="post entry-post post-type-notes column--border-t column--border-b">
                                            <div class="post__image post__image--left">
                                                <img src="assets/images/success-post.png" alt="interview-image">
                                            </div>
                                            <div class="post__content">
                                                <header>
                                                    <span class="post__type">Конспект</span>
                                                    <h2 class="post__header">Олександр Данковский: «Пиши, думай»</h2>
                                                </header>
                                                <p>«Пиши, скорочуй», ймовірно, найбільш обговорювана книга в середовищі
                                                    пишучої братії - журналістів, копірайтерів, піарників, маркетологів</p>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" class="link link--more link--arrow">Більше матеріалів ...<span class="arrow arrow--right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 column column--last">
                <div class="row">
                    <div class="col-12 column column--top column--last column--mrg-b">
                        <article class="post entry-post post-type-notes">
                            <div class="post__content">
                                <header>
                                    <span class="post__type">Конспект</span>
                                    <h2 class="post__header">8 причин, чому кращі співробітники залишають компанію</h2>
                                </header>
                                <p>Коли компанії роблять помилки, першими йдуть кращі співробітники - просто тому,
                                    що у них є багато варіантів, де продовжити кар'єру.  Як цього можна уникнути? </p>
                                <a href="#" class="link link--more link--arrow">Читати ...<span class="arrow arrow--right"></span></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-12 column column--mrg-b">
                        <article class="post entry-post post-type-books column--border-t">
                            <div class="post__content">
                                <header>
                                    <span class="post__type">Книготека</span>
                                    <h2 class="post__header">Що читає успішний банкір Олександр Адарич</h2>
                                </header>
                                <p>Книга про те, як нові технології змінюють ставлення клієнтів до фінансових послуг, історія успіху
                                    Starbucks і секрети Річарда Бренсона - один з кращих українських топ-менеджерів радить книги, які
                                    можуть стати в нагоді фінансисту і бізнесменові</p>
                                <a href="#" class="link link--more link--arrow">Читати ...<span class="arrow arrow--right"></span></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-12 column column--mrg-b">
                        <article class="post entry-post post-type-notes column--border-t">
                            <span class="heading heading--top">Відео</span>
                            <div class="post__image">
                                <img src="assets/images/video-post.png" alt="video-image">
                            </div>
                            <div class="post__content">
                                <h3 class="post__header">Київський міжнародний економічний форум 2016 - онлайн</h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-12 column column--mrg-b">
                        <article class="post entry-post post-type-notes column--border-t column--border-b">
                            <span class="heading heading--top">Тест</span>
                            <div class="post__image">
                                <img src="assets/images/test-post.jpg" alt="test-image">
                            </div>
                            <div class="post__content">
                                <h3 class="post__header">Запомнить все и Level One о том, как натренировать память</h3>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
