<div class="premium">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-8">
                <article class="post entry-post post-type-interview post--abs-right-image">
                    <div class="post__content">
                        <header>
                            <span class="post__type">Інтерв’ю</span>
                            <h2 class="post__header">Вагиф Алієв:<br> «Я не з'їхав з глузду»</h2>
                        </header>
                        <p>Всі його проекти епатажні. Торговий центр «Мандарин Плаза» побудований
                            на місці школи, хмарочос «Парус» зведений на 30 сотках,
                            ЖК Diamond Hill - над історичною Аскольдовою могилою.
                            Тепер же Вагіф Алієв має намір побудувати вісім торгових центрів,
                            які перекриють кисень іншим гравцям на ринку торговельної нерухомості.</p>
                        <a href="#">Читати  ...<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="post__image">
                        <img src="/assets/images/interview-post.png" alt="interview-image">
                    </div>
                </article>
            </div>
            <div class="col-4">
                <article class="post entry-post post-type-bestseller post--clr-white post--bg" style="background-image: url('/assets/images/bestseller-post.jpg');">
                    <div class="post__content">
                        <header>
                            <span class="post__type">Правила бестселера</span>
                            <h2 class="post__header">Життя соло. Нова соціальна реальність</h2>
                        </header>
                        <p>Вперше в історії людства жити на самоті стало безпечно і навіть вигідно.
                            І мільйони людей тепер добровільно жити соло. Такі демографічні зміни невблаганно
                            тягнуть за собою зміни і економічні. Під їх впливом трансформується і міське життя,
                            підлаштовуючись під нову соціальну реальність.</p>
                        <a href="#">Читати ...<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
