.holidays {
  background-image: url(assets/images/easter/easter-bg-min.jpg);
  background-size: 100% 100%;
  height: 410px;
}

.pa__el {
  position: absolute;
}

 .egg-0 {
   right: 100px;
   bottom: 40px;
 }

.parallax-viewport { 
  position:relative; 
  overflow:hidden; 
}

.mouseCanvas {
  position: absolute;
  width: 100%; }

 .parallax-layer {
   position: absolute;
   width: 100%;
   height: 100%;
 }