.post {
  padding: 3rem 0;

  &__type {
    color: $secondary_color;
  }

  &__image {

    img {
      width: 100%;
    }
  }

  &__image--left {
    float: left;
    width: 17rem;
    margin-right: 2.5rem;

    & + .post__content {
      overflow: hidden;
    }
  }

  &--bg {
    background-size: cover;
    background-position: center center;
  }

  &--clr-white,
  &--clr-white &__type,
  &--clr-white &__header,
  &--clr-white a {
    color: $color-white;
  }
}

