.post {
  padding: 2.308rem 0 1.738rem;

  &__type {
    font-size: 1.341rem;
    color: $secondary_color;
    font-weight:400;
  }

  &__special {
    color: $color_white;
    background: $primary_color;
    font-weight: 600;
    border-radius: 0.3rem;

    position: absolute;
    bottom: 1.44rem;
    right: 1rem;

    padding: 1rem 1.5rem;
    line-height: 1;
    opacity: 0.8;
    
    &--btm {
      top: auto;
      right: auto;
      left: 1rem;
      bottom: 2rem;
    }

    &--dark {
      background: #000000;
    }
  }

  &__best-list {

    .post__more {
      text-align: right;
      display: block;
      margin-top: 2rem;
    }
  }

  &__image {
    position: relative;

    img {
      width: 100%;
    }
  }

  &__image--left {
    float: left;
    width: 17rem;
    margin-right: 2.5rem;

    & + .post__content {
      overflow: hidden;
    }
  }

  &--bg {
    background-size: cover;
    background-position: center center;
  }

  &--clr-white,
  &--clr-white &__type,
  &--clr-white &__header,
  &--clr-white a {
    color: $color-white;
  }
}

