%pt0bt0 {
  padding-top: 0;
  border-top: none;
}

.sidebar {

  &__content {

    .heading + .post {
      border-top: none;
      padding-top: 0;
    }
    
    .heading--top + .post {
     @extend %pt0bt0; 
    }


    .post {
      border-top: 0.1rem solid $color_gray;

      &:first-child {
        @extend %pt0bt0
      }

      &:last-child {
        border-bottom: 0.1rem solid $color_gray;
      }
    }

  }
}