<article class="post">
    <header class="entry-header">
        <h1 class="entry-title post__h1"> Чому «Наш формат» відмовилося від етнокультурного «гетто»</h1>
        <figure>
            <img class="img--responsive" src="assets/images/single-post-big.jpg" alt="img-text">
            <figcaption>Атлант розправив плечі</figcaption>
        </figure>
    </header><!-- .entry-header -->

    <div class="entry-content row">

        <div class="col-md-2 post__author">
            <img src="assets/images/author-image.png" alt="author-image">
            <p>Елена Романюк</p>
        </div>
        <div class="col-md-10">
            <p>Знайти українське видавництво «Наш формат» досить просто,
                головне - згорнути c Бульвару Шевченка в потрібний провулок.
                У затишному підвальчику пахне ремонтом. Крім невеликого магазину української книги,
                в новій локації створюють студію звукозапису аудіокниг, а також власне кафе,
                в якому планують не тільки пригощати відвідувачів магазину, а й влаштовувати освітні заходи.</p>

            <h2>Дефіцит головних редакторів</h2>

            <p>Поки росіяни готували нове покоління редакторів, коректорів, перекладачів, ми користувалися їх
                літературою.
                Тепер же в Україні величезний дефіцит кадрів. Випускників вузів потрібно повністю переучувати.
                Тому ми навчаємо власних перекладачів, редакторів, коректорів.
                Для цього і відкрили свій лекторій, - ділиться наболілим директор і співвласник
                «Нашого Формату» Антон Мартинов, який проводить нам невеличку екскурсію.</p>

            <p>Спочатку ми навчали тільки тих фахівців, які працюють з «Нашим форматом». Це людина 60-70.
                Зараз же відкрили наш лекторій для всіх. Заняття будуть проходити саме в нашому новому кафе.
                Відсутність грамотних фахівців і офіційної статистики по ринку - головний бич українського
                книговидавництва. За майже чотири роки роботи в новому форматі - нон-фікшн (non-fiction) - «Наш Формат»
                змінив сім головних редакторів. Але, якщо цю проблему вирішили,
                то зі статистикою справи йдуть набагато гірше - не маючи на руках чітких цифр,
                видавництво змушене рухатися по ринку буквально на дотик, орієнтуючись,
                в більшості випадків, тільки на власні відчуття. Втім, останні їх явно</p>

            <h2>Зміна формату</h2>

            <p>Владислав Кириченко, засновник «Нашого Формату», саме орієнтуючись на відчуття, напередодні останньої
                революції прийняв рішення піти з етнокультурного формату,
                в якому він працював з 2006 року, і зайняти нову нішу.</p>
        </div>

        <div class="clearfix"></div>
        <div class="col-12 column-img-text">
            <div class="row">
                <div class="col-md-7">
                    <figure>
                        <img class="img--responsive" src="assets/images/img-text.jpg" alt="img-text">
                        <figcaption>Атлант розправив плечі</figcaption>
                    </figure>
                </div>
                <div class="col-md-5">
                    <p>- На той момент навколо «Нашого Формату» концентрувалася аудиторія,
                        яка переважно займалася боротьбою з антинародним режимом, а не створенням доданої вартості.
                        Лаври засновника бренду для націонал-радикалів мене аж ніяк не радували, я мріяв
                        перекласти й видати на українському «Моє життя і робота» Генрі Форда і не тільки, - пояснив своє
                        рішення Кириченко.</p>
                </div>
            </div>
        </div><!-- .column-img-text -->
        <div class="offset-md-2 col-md-10">
            <p>У підсумку, було прийнято рішення видавати нон-фікшн літературу.
                Для чого і запросили Мартинова - колишнього власника студії запису аудіокниг і книжкового
                онлайн-магазину.</p>

            <p>- Це був чистої води соціальний експеримент, - згадує Мартинов. - В кінці 2012 - початку 2013 року ніхто
                не розумів, чи дійсно українцям буде потрібна така література. Але, після того як ми видали кілька книг,
                зокрема Джима Коллінза «Величні за власним вибором», а потім Генрі Форда «Моє життя і робота», стало
                очевидним, що попит на ділову літературу українською мовою є. Головне, робити її якісно і
                використовувати теорію маркетингу 4P - Price, Place, Product, Promotion. Коли ти підкріплюєш якісний
                продукт гарної ціною, хорошим промо і хорошою потужною дистрибуцією, то у тебе будуть клієнти, і не
                важливо якою мовою ти видаєш книги або щось справляєш.
                Поки українських «історій» немає, «Наш Формат» масово скуповує права на книги за кордоном. За рахунок
                цього, а також активного поведінки в ЗМІ і соцмережах їм, фактично, вдалося закріпити за собою ринок.
                Правда, підтяглися і конкуренти - той же «Книжкового клубу сімейного дозвілля», «Видавництво Старого
                Лева» та ін.
                Частка російських книг за останні кілька років зменшилася з 80% до 40-60% всіх продажів. Показники
                продовжують знижуватися.</p>
        </div>
        <div class="col-12 column-quotes-text">
            <div class="row">
                <div class="col-md-5">
                    <blockquote>
                        <p>Компании, ориентированные на иерархии и приказы, – это динозавры</p>
                    </blockquote>
                </div>
                <div class="col-md-7">
                    <p>- Це був чистої води соціальний експеримент, - згадує Мартинов.
                        - В кінці 2012 - початку 2013 року ніхто не розумів, чи дійсно українцям буде потрібна така
                        література.
                        Але, після того як ми видали кілька книг, зокрема Джима Коллінза «Величні за власним вибором»,
                        а потім Генрі Форда «Моє життя і робота», стало очевидним,
                        що попит на ділову літературу українською мовою є. Головне, робити її якісно
                        і використовувати теорію маркетингу 4P - Price, Place, Product, Promotion. Коли ти
                        підкріплюєш </p>
                </div>
            </div>
        </div><!-- .column-quotes-text -->
        <div class="offset-md-2 col-md-10">
            <h2>О продюсировании</h2>
            <p>Продюсер по определению - это предприниматель, ответственный за реализацию проекта.
                Поэтому странно обучать продюсеров тому, как предпринимать. Но есть специфика,
                связанная с кинематографом. В союзе продюсером выступало государство.
                И я не говорю, что это плохо, ведь в то время было очень много выдающихся замечательных фильмов.
                Но продюсеров как класс у нас породил уже современный рынок.</p>

            <p>Время от времени я общаюсь со студентами в разных киношколах.
                Я говорю им, что для работы необходим предпринимательский инстинкт,
                способность рисковать и мечтать. Им также нужно все, что связано с гуманитарным контентом.
                Понимание культурных кодов народа и страны, в которой мы обитаем, понимание того,
                что объединяет нас вместе. И, конечно, все то, что связано с производством кинематографа,
                а это колоссальное количество мелочей. </p>
        </div>
        <div class="col-12 column-big-image">
            <figure>
                <img class="img--responsive" src="assets/images/column-big-image.jpg" alt="big-image">
                <figcaption>«Фильмом и удивлять весь мир»</figcaption>
            </figure>
        </div><!-- .column-big-image -->
    </div><!-- .entry-content -->

    <footer class="entry-footer">
        <p class="strong">Смотреть также</p>
        <ul>
            <li><a href="#" class="link">5 утренних привычек, из-за которых мы набираем вес</a></li>
            <li><a href="#" class="link">Один близнец остался на Земле, а второй провел год в космосе. И вот что выяснилось</a></li>
        </ul>
    </footer><!-- .entry-footer -->
</article>
