<div class="footer-bottom">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4">
                <p>Головний редактор: Севгіль Мусаєва-Боровик<br>
                E-mail редакції: editor@pravda.com.ua<br>

                РЕКЛАМА НА САЙТІ<br>
                ПОЛіТИКА КОНФІДЕНЦІЙНОСТІ<br>
                ВИКОРИСТАННЯ МАТЕРІАЛІВ З "kfund-media"
                </p>
            </div>
            <div class="col-md-8">
                <div class="row no-gutters footer-menu__row">
                    <div class="footer-bottom__div">
                        <div class="footer-menu">
                            <p class="footer-menu__heading">предпринимательство</p>
                            <a href="#" class="footer-menu__link link">Менеджмент</a>
                            <a href="#" class="footer-menu__link link">Истории успеха</a>
                            <a href="#" class="footer-menu__link link">Инновации</a>
                        </div>
                    </div>
                    <div class="footer-bottom__div">
                        <div class="footer-menu">
                            <p class="footer-menu__heading">образование</p>
                            <a href="#" class="footer-menu__link link">Возможности</a>
                            <a href="#" class="footer-menu__link link">Саморазвитие</a>
                            <a href="#" class="footer-menu__link link">Опыты</a>
                        </div>
                    </div>
                    <div class="footer-bottom__div">
                        <div class="footer-menu">
                            <p class="footer-menu__heading">Книги</p>
                            <a href="#" class="footer-menu__link link">Рецензии</a>
                            <a href="#" class="footer-menu__link link">Инсайт</a>
                            <a href="#" class="footer-menu__link link">КНИГОТЕКА</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
