<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-6 header__column">
                <a href="/" class="header__logo">
                    <img src="assets/images/kfund-logo.svg" alt="logo">
                </a>
            </div>
            <div class="col-6 header__column header__column--right">
                <div class="header__additional">
                    <div class="header__search">
                        <button>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <ul class="header__lang">
                        <li class="lang__item">Укр</li>
                        <li class="lang__item">Рус</li>
                    </ul>
                </div>

                <nav class="header__nav" role="navigation">
                    <ul class="header__menu">
                        <li><a href="#">підприємництво</a></li>
                        <li><a href="#">Освіта</a></li>
                        <li><a href="#">книги</a></li>
                        <li><a href="#">календар</a></li>
                    </ul>
                </nav>

                <button class="burger header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>
