<div class="col-12 sidebar__content">
    <span class="heading heading--top">Останні записи</span>
    <article class="post entry-post post-type-notes">
        <div class="post__content">
            <header>
                <span class="post__type">Конспект</span>
                <h2 class="post__header">8 причин, чому кращі співробітники залишають компанію</h2>
            </header>
            <p>Коли компанії роблять помилки, першими йдуть кращі співробітники - просто тому,
                що у них є багато варіантів, де продовжити кар'єру. Як цього можна уникнути? </p>
            <a href="#" class="link link--more link--arrow">Читати ...<span class="arrow arrow--right"></span></a>
        </div>
    </article>
    <article class="post entry-post post-type-books">
        <div class="post__content">
            <header>
                <span class="post__type">Книготека</span>
                <h2 class="post__header">Що читає успішний банкір Олександр Адарич</h2>
            </header>
            <p>Книга про те, як нові технології змінюють ставлення клієнтів до фінансових послуг, історія успіху
                Starbucks і секрети Річарда Бренсона - один з кращих українських топ-менеджерів радить книги, які
                можуть стати в нагоді фінансисту і бізнесменові</p>
            <a href="#" class="link link--more link--arrow">Читати ...<span class="arrow arrow--right"></span></a>
        </div>
    </article>
    <article class="post entry-post post-type-notes">
        <div class="post__image">
            <img src="assets/images/video-post.png" alt="video-image">
            <a href="#" class="post__special post__special--btm post__special--dark link link--arrow link--white">Переглянути
                відео <span class="arrow arrow--right"></span></a>
        </div>
        <span class="post__type">Відео</span>
        <div class="post__content">
            <h3 class="post__header">Київський міжнародний економічний форум 2016 - онлайн</h3>
        </div>
    </article>
    <article class="post entry-post post-type-notes">
        <div class="post__image">
            <img src="assets/images/test-post.jpg" alt="test-image">
            <a href="#" class="post__special post__special--btm post__special--dark link link--arrow link--white">Пройти
                тест <span class="arrow arrow--right"></span></a>
        </div>
        <span class="post__type">Тест</span>
        <div class="post__content">
            <h3 class="post__header">Запомнить все и Level One о том, как натренировать память</h3>
        </div>
    </article>
</div>

