<div class="top-panel">
    <div class="container">
        <div class="row no-gutters top-panel__wrapper">
            <div class="top-panel__div top-panel__date">
                <p class="strong">пятница, 13 января 2017</p>
            </div>
            <div class="top-panel__div currency">
                <p>НБУ:
                    <span class="currency__item currency__item--rise">
                        <span class="icon-round">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                        </span>
                        27.12
                    </span>
                    <span class="currency__item currency__item--falling">
                        <span class="icon-round">
                            <i class="fa fa-eur" aria-hidden="true"></i>
                        </span>
                        28.83
                    </span>
                </p>
            </div>
            <div class="top-panel__div top-panel__socials socials ">
                <a href="#" target="_blank" rel="nofollow" class="socials__item socials__item--fb link">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#" target="_blank" rel="nofollow" class="socials__item socials__item--tw link">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#" target="_blank" rel="nofollow" class="socials__item socials__item--yb link">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
                <a href="#" target="_blank" rel="nofollow" class="socials__item socials__item--inst link">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#" target="_blank" rel="nofollow" class="socials__item socials__item--vk link">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
                <a href="#" target="_blank" rel="nofollow" class="socials__item socials__item--goo link">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="#" target="_blank" rel="nofollow" class="socials__item socials__item--rss link">
                    <i class="fa fa-rss" aria-hidden="true"></i>
                </a>
            </div>
            <div class="top-panel__div top-panel__div--right top-panel__founder">
                <a href="#" target="_blank" rel="nofollow" class="link link--arrow"><strong>фонд ВАСИЛИЯ ХМЕЛЬНИЦКОГО</strong><span class="arrow arrow--right"></span></a>
            </div>
        </div>
    </div>
</div>
