<div class="ideas">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="heading heading--left">Думки</p>
                <div class="slider-ideas__div">
                    <div class="slider-ideas ideas__slider js_ideas__slider owl-carousel">
                        <div class="slider-ideas__item">
                            <a href="#" class="slider-ideas__link slider-ideas__box link">
                                <div class="slider-ideas__images">
                                    <img src="assets/images/mind-post-3.png" class="slider-ideas__img" alt="mind-post">
                                    <img src="assets/images/mind-post-2.png" class="slider-ideas__img" alt="mind-post">
                                </div>
                                <div class="slider-ideas__content">
                                    <p class="slider-ideas__author">
                                        Артемій Лебедєв:
                                    </p>
                                    <p class="slider-ideas__text">
                                        Як продавати те, що не замовляли
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="slider-ideas__item">
                            <a href="#" class="slider-ideas__link slider-ideas__box link">
                                <div class="slider-ideas__images">
                                    <img src="assets/images/mind-post-2.png" class="slider-ideas__img" alt="mind-post">
                                </div>
                                <div class="slider-ideas__content">
                                    <p class="slider-ideas__author">
                                        Артемій Лебедєв:
                                    </p>
                                    <p class="slider-ideas__text">
                                        Як продавати те, що не замовляли
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="slider-ideas__item">
                            <a href="#" class="slider-ideas__link slider-ideas__box link">
                                <div class="slider-ideas__images">
                                    <img src="assets/images/mind-post-2.png" class="slider-ideas__img" alt="mind-post">
                                </div>
                                <div class="slider-ideas__content">
                                    <p class="slider-ideas__author">
                                        Артемій Лебедєв:
                                    </p>
                                    <p class="slider-ideas__text">
                                        Як продавати те, що не замовляли
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="slider-ideas__item">
                            <a href="#" class="slider-ideas__link slider-ideas__box link">
                                <div class="slider-ideas__images">
                                    <img src="assets/images/mind-post-2.png" class="slider-ideas__img" alt="mind-post">
                                </div>
                                <div class="slider-ideas__content">
                                    <p class="slider-ideas__author">
                                        Артемій Лебедєв:
                                    </p>
                                    <p class="slider-ideas__text">
                                        Як продавати те, що не замовляли
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
