<div class="ideas">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="heading heading--left">Думки</p>
                <div class="slider__div">
                    <div class="slider ideas__slider js_ideas__slider owl-carousel">
                        <div class="slider__item"><img src="assets/images/ideas-demo.png" alt="demo"></div>
                        <div class="slider__item"><img src="assets/images/ideas-demo.png" alt="demo"></div>
                        <div class="slider__item"><img src="assets/images/ideas-demo.png" alt="demo"></div>
                        <div class="slider__item"><img src="assets/images/ideas-demo.png" alt="demo"></div>
                        <div class="slider__item"><img src="assets/images/ideas-demo.png" alt="demo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
